<div class="top">
  <div class="title">
    <h3 class="name">Contact</h3>
    <h1>
      Je serais heureux de<br />
      pouvoir vous aider
    </h1>
  </div>
  <i class="arrow down"></i>
</div>
<article>
  <h3 style="font-size: 48px;">Contactez-moi</h3>
  <form action="">
    <div class="flex">
      <p>
        <label for="nom">Nom</label>
        <input type="text" name="nom" id="nom" />
      </p>

      <p>
        <label for="nom">Prenom</label>
        <input type="text" name="prenom" id="prenom" />
      </p>
    </div>

    <p>
      <label for="nom">Email</label>
      <input type="email" name="email" id="email" />
    </p>

    <p>
      <label for="nom">Message</label>
      <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </p>

    <input type="submit" value="Envoyer" />
  </form>
</article>
