<div class="top">
  <div class="title">
    <h1 class="name">Luca Coduri</h1>
    <h2>Étudiant HEIG</h2>
  </div>
  <i class="arrow down"></i>
</div>
<article>
  <h3>Projets</h3>
  <h4>En Vedette</h4>
  <div class="projects-container">
    <div>
      <div
        class="project project-big inner-shadow"
        style="
          background-image: url('/assets/images/projects/Wendnamalage.png');
        "
      ></div>
      <h5 class="puce_line">Wend Na Malage</h5>
      <h6>Site web pour une association</h6>
    </div>
  </div>
</article>
